/* efeito de transição entre elementos */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.content {
    height: 100vw;
}

.content__main {
    display: flex;
    position: relative;
}

.content__main--sidebar {
    height: 100vh;
}

.content__main--slot {
    width: 100%;
    height: 100vh;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}

.component-fade-enter, .component-fade-leave-to
{
    opacity: 0;
}
