.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}

.content__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content__logo--img {
    width: 250px;
}

.content__title-title {
    font-size: 26px;
    font-weight: bold;
}

.content__title-subtitle {
    font-size: 14px;
}

.content__form {
    width: 100%;
}

.form__label {
    font-size: 15px;
    color: #575757;
}

.button__specify {
    width: 100%;
    margin: 15px 0;
}
