.checkbox__input {
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox__input:checked {
    background-color: var(--blue-sidebar);
    border-color: var(--blue-sidebar);
}

.checkbox__input:checked::after {
    content: "";
    position: absolute;
    display: block;
    left: 4px;
    top: -0.5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.3s;
}
