.content {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, var(--blue-light), var(--blue-dark-hover)); /* Gradiente linear da esquerda para a direita */
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.content__box {
    width: 30%;
    border-radius: 30px;
    background-color: white;
    border: #c9d3dd solid 1px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.content__title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.content__text {
    margin-bottom: 25px;
    text-align: justify;
}

.content__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__specify {
    background-color: var(--blue-light);
    text-align: center;
    color: white;
    width: 160px;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 25px;
    transition: background-color .2s ease-in-out;
}

.button__specify:hover {
    background-color: var(--blue-light-hover);
}

.content__rights {
    text-align: center;
    color: var(--white-primary);
    margin-top: 50px;
}
