.content {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, var(--blue-light), var(--blue-dark-hover)); /* Gradiente linear da esquerda para a direita */
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.content__box {
    width: 30%;
    border-radius: 30px;
    background-color: white;
    border: #c9d3dd solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.content__title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.content__form {
    width: 100%;

}

.form__input {
    width: 100%;
    border-radius: 4px;
    background-color: white;
    border: #c9d3dd solid 1px;
    margin-bottom: 20px;
}

.form__label {
    font-size: 15px;
    color: #575757;
}

.field-required {
    font-weight: bold;
    color: red;
    margin-left: 3px;
}

.button__specify {
    margin: 15px 5px;
}

.content__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.anchor__forgot {
    margin: 15px;
}
